
h1{
    margin-bottom: 20px;
}
.issue{
    position: inherit;
    padding:20px 10px;
    border: 1px solid rgba(144, 144, 144,0.5);
    border-radius: 3px;
    box-shadow: 0px 0px 3px rgba(144, 144, 144,0.5);
    background-color: rgb(237, 237, 255);
}


#issue-page-name{
    color:blue;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;

}

.public{
    border:1px solid grey;
    border-radius:25%;
    padding:2px 6px;
    margin-left: 5px;
    color:rgb(72, 72, 72);
    
}
.issue .links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.links p{
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.links p a{
    text-decoration: none;
    color: rgb(50, 50, 50);
    
}

.links p:hover{
    color: black;
    background-color: #fcfcfc;
    border-radius: 5px;
}

.issue-page{
    margin:10px auto;
    position: relative;
    width: 100%;
    border: 1px solid rgba(144, 144, 144,0.5);
    box-shadow: 0px 0px 5px rgba(144, 144, 144,0.5);
    border-radius: 8px;
    
}


.header{
    border-bottom: 2px solid rgba(144, 144, 144,0.5);
    font-size: 22px;
    font-weight: 600;
    position: relative;
  
}
.header p:nth-child(2){
    position: absolute;
    right:10px;
    top:0;
    font-size:17px;
    margin-top: -2px;

}
.repo-link{
    display: flex;
    color:blue;
    font-size: 18px;
    font-weight: 600;
}

.issue-list{
    display: relative;
    overflow: hidden;
}

.issues_each{
    display: flex;
    position: inherit;
    padding: 10px 10px;
    width: 100%;
    border-bottom: 1px solid rgba(144, 144, 144,0.5);
}

.issues_each .point{
    width: 3%;
    display: flex;
    padding:0px 2px;
    align-items: flex-start;
    justify-content: flex-end;
}
.point img{
    width:20px;
    height: 20px;
}

ul li{
    list-style: none;
}

.issue_each_text{
    display: flex;
    padding:0px 5px ;
    flex-direction: column;
}
.issue_each_text a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    font-weight: 550;
}

.issue_each_text a:hover{
    color: blue;

}

.issue_each_text .issue-number{
    font-size:0.8rem;
    margin-left:10px;
    color:#666;
}

.issue_each_text .issue-user{
    font-size:0.8rem;
    margin-left:10px;
    color:#888;
}


.form{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px 0px;
    margin:10px 0px ;
}

.form form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form form label{
    font-size: 17px;
    font-weight: 600;
}

.form form input{
    border: 1ps solid black;
    border-radius: 5px;
    color: black;
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
    margin: 5px 0;
    
}


.form form button{
    border:1px solid grey;
    color: black;
    background-color: blue;
    border-radius: 5px;
    outline: none;
    font-weight: 600;
    padding: 10px;
}

.form form button:hover{
    color: white;
    background-color: black;
    transition: 0.5s;
}



@media only screen and (max-width:700px){
    .issue .links{
        transition: 0.5s;
        align-items: flex-start;
        flex-direction: column;
    }
    .form form{
        display: block;
    }

    .form form button{
        display: flex;
        justify-self: center;
        align-self: center;
        margin: 5px auto;
        padding: 10px;
        
    }
}

